<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="{{ aaa }}"><a href="">首页<span class="sr-only">(current)</span></a></li>
              <li><a href="">社区防疫</a></li>
            <li><a href="">业主信息管理</a></li>
            <li><a href="#"><span>服务管理</span>
                <ul class="">
                            <li>品牌设计</li>
                            <li>网页设计</li>
                            <li>平面设计</li>
                            <li>电子商城</li>
                            <li>空间/建筑</li>
                        </ul>
            </a></li>
              <li><a href="">物资管理</a></li>
            <li><a href="">信息公示</a></li>
              <li><a href="">数据统计</a></li>
            <li><a href="">安全退出</a></li>
          </ul>

        </div>