<header class="header">
        <div class="header_left">
            <img src="img/logo.jpg">
        </div>
        <div class="header_right">
                <div class="number_right">
                    <img src="img/number.jpg">
                </div>
                <ul>
                    <a href="#"><li>首页</li></a>
                    <a href="#"><li class="show_list">
                        <span>成功案例</span>
                        <ul class="move_list">
                            <li>品牌设计</li>
                            <li>网页设计</li>
                            <li>平面设计</li>
                            <li>电子商城</li>
                            <li>空间/建筑</li>
                        </ul>
                    </li></a>
                    <a href="#"><li>我要设计</li></a>
                    <a href="#"><li>在线咨询</li></a>
                    <a href="#"><li>会员注册</li></a>
                    <a href="#"><li>会员登录</li></a>
                </ul>
        </div>
    </header>
